# Secrets (generate securely, e.g. `openssl rand -hex 32`)
COOKIE_SECRET=supersecret
JWT_SECRET=supersecret2

# CORS settings
STORE_CORS=http://localhost:8000,https://front.site.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://admin.site.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://admin.site.com,https://front.site.com

# Backend configuration
BACKEND_URL=https://admin.site.com
DISABLE_ADMIN=false
WORKER_MODE=server
PORT=9000

# Database connections
DB_NAME=medusa-backend
DATABASE_URL=postgres://user:password@host:port/database
REDIS_URL=redis://user:password@host:port/database